
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrN_VkwZfMr1Q69OoYHEZ7UiG3Tl-upfZ0HHVY1lWgoEuva0Gk);
    color: rgb(126, 33, 33);
}

#mylist{
    font-family:'Cousine', monospace;
    color:  rgb(202, 135, 47); 
    font-size: 20px
}

.webpage{
float: left; 
width: 50%;
background-color: gold;

}

.amazon{
float: right;
width: 50%;
background-color: red; 
}