
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrN_VkwZfMr1Q69OoYHEZ7UiG3Tl-upfZ0HHVY1lWgoEuva0Gk);
    color: rgb(46, 54, 122);
}

.mylist{
    font-family:'Cousine', monospace;
    color:  rgb(202, 135, 47) 
}