
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrN_VkwZfMr1Q69OoYHEZ7UiG3Tl-upfZ0HHVY1lWgoEuva0Gk);
    color: rgb(145, 49, 49);
}

#mylist{
    font-family:'Cousine', monospace;
    color:  rgb(202, 135, 47); 
    font-size: 20px
}

.webpage{
float: left; 
width: 30%;
background-color: rgb(160, 149, 64);
border: solid black;
padding: 40px; 
margin-bottom: 50px;
}

.amazon{
float: right;
width: 30%;
background-color: red; 
border: solid black;
padding: 40px;
margin-bottom: 50px;
}

.notfound{
    color: rgb(38, 9, 92);
    font-size: 100px;
    
}